# Compiled destination folder
bin/

# Compiled Java
*.class

# C objects
*.o

# Java packages
*.jar
*.war
*.ear

# Eclipse
.settings
.metadata

# IntelliJ+AppCode
.idea/

# Mac/Xcode
.DS_Store
*/build/*
xcuserdata
*.moved-aside
DerivedData

# Manual overrides
CS\ 1332/*/.classpath
CS\ 1332/*/.project
