# Compiled destination folder
**/bin/

# Compiled Java
*.class

# C objects
*.o

# Java packages
*.jar
*.war
*.ear

# Eclipse
.settings
.metadata

# IntelliJ+AppCode
.idea/
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/dictionaries
out

# Mac/Xcode
.DS_Store
*/build/*
xcuserdata
*.moved-aside
DerivedData
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?

# Windows crap
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
!.gitignore
*~

# Manual overrides
**/.classpath
**/.project
**/*.iml
**/out

# Android compiled
gen/
*.apk
*.ap_
*.class
*.dex
local.properties
proguard/

# Eclipse
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.metadata

# Local DB
appengine-generated/

# Javadoc
docs/
doc/
