<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>FontInfo</key>
		<dict>
			<key>Font</key>
			<string>Roboto-Light</string>
			<key>Size</key>
			<real>31</real>
		</dict>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2013-02-01 17:56:15 +0000</string>
	<key>Creator</key>
	<string>Zachary Waldowski</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>AllowToConnect</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>2147</integer>
					<key>Points</key>
					<array>
						<string>{333.95159903565599, 252.38696323237593}</string>
						<string>{333.95159903565599, 248.19335937499963}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.6</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>AllowToConnect</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>2148</integer>
					<key>Points</key>
					<array>
						<string>{51.893997192382841, 252.38696323237593}</string>
						<string>{51.893997192382841, 248.19335937499963}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.6</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>AllowToConnect</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>2147</integer>
					</dict>
					<key>ID</key>
					<integer>2149</integer>
					<key>Points</key>
					<array>
						<string>{51.893997192382841, 252.38696323237593}</string>
						<string>{109.48258552679036, 252.06917037404435}</string>
						<string>{333.95159903565599, 252.38696323237593}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.6</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>2148</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>2146</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{55.787963867187386, 218.2854327604135}, {157.25210790628844, 29.907667215172427}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>a</key>
					<string>0.3</string>
					<key>b</key>
					<string>0.150539</string>
					<key>g</key>
					<string>0.150571</string>
					<key>r</key>
					<string>0.150547</string>
				</dict>
				<key>Font</key>
				<string>Roboto-Regular</string>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>2150</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>2</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKxFTaG9ydCBkZXNjcmlwdGlvboaEAmlJARGS
				hISEDE5TRGljdGlvbmFyeQCUhAFpA5KElpYHTlNDb2xv
				coaShISEB05TQ29sb3IAlIQBYwGEBGZmZmaDmZgYPoOZ
				mBg+g5mYGD6DmpmZPoaShJaWEE5TUGFyYWdyYXBoU3R5
				bGWGkoSEhBBOU1BhcmFncmFwaFN0eWxlAJSEBENDQFMA
				AISEhAdOU0FycmF5AJSZDJKEhIQJTlNUZXh0VGFiAJSE
				AkNmAByGkoSioQA4hpKEoqEAVIaShKKhAHCGkoSioQCB
				jACGkoSioQCBqACGkoSioQCBxACGkoSioQCB4ACGkoSi
				oQCB/ACGkoSioQCBGAGGkoSioQCBNAGGkoSioQCBUAGG
				hoEACIQEWzFmXYPNzEw9hpKElpYGTlNGb250hpKEhIQG
				TlNGb250HpSZKIQFWzQwY10GAAAAHgAAAP/+UgBvAGIA
				bwB0AG8ALQBSAGUAZwB1AGwAYQByAAAAhAFmEpsAmwGb
				AJsAhoaG
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs36 \cf2 Short description}</string>
				<key>VerticalPad</key>
				<integer>2</integer>
				<key>alpha</key>
				<array>
					<array>
						<integer>0</integer>
						<integer>17</integer>
						<real>0.30000001192092896</real>
					</array>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>AllowConnections</key>
							<string>NO</string>
							<key>AllowToConnect</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>2137</integer>
							<key>Points</key>
							<array>
								<string>{282.50022125244141, 453.2794189453125}</string>
								<string>{46.8455810546875, 453.2794189453125}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.8</string>
										<key>g</key>
										<string>0.6</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>Legacy</key>
									<true/>
									<key>TailArrow</key>
									<string>0</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{271.50022888183594, 441.5294189453125}, {12, 12}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>2138</integer>
							<key>ImageID</key>
							<integer>29</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>2136</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{293.00022125244141, 413.52969360351562}, {32, 32}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>2139</integer>
					<key>ImageID</key>
					<integer>28</integer>
					<key>Opacity</key>
					<real>0.60000002384185791</real>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>image fill</key>
						<dict>
							<key>Opacity</key>
							<real>0.60000002384185791</real>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{50.788183803286245, 416.52969932556152}, {246.48273008995631, 26}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>HelveticaNeue</string>
						<key>Size</key>
						<real>13</real>
					</dict>
					<key>ID</key>
					<integer>2140</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs36 \cf0 Location}</string>
						<key>VerticalPad</key>
						<integer>2</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>2135</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>AllowConnections</key>
							<string>NO</string>
							<key>AllowToConnect</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>2129</integer>
							<key>Points</key>
							<array>
								<string>{328.95166015625, 496.21014404296875}</string>
								<string>{46.8455810546875, 496.21014404296875}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.8</string>
										<key>g</key>
										<string>0.6</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>Legacy</key>
									<true/>
									<key>TailArrow</key>
									<string>0</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{317.45164489746094, 484.46014404296875}, {12, 12}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>2130</integer>
							<key>ImageID</key>
							<integer>29</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>2128</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{50.788176173891713, 461.46028518676758}, {246.48273008995631, 26}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>HelveticaNeue</string>
						<key>Size</key>
						<real>13</real>
					</dict>
					<key>ID</key>
					<integer>2131</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs36 \cf0 Reward}</string>
						<key>VerticalPad</key>
						<integer>2</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>2127</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>AllowConnections</key>
							<string>NO</string>
							<key>AllowToConnect</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>2120</integer>
							<key>Points</key>
							<array>
								<string>{334.00007629394531, 372.25299072265625}</string>
								<string>{51.893997192382812, 372.25299072265625}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.8</string>
										<key>g</key>
										<string>0.6</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>Legacy</key>
									<true/>
									<key>TailArrow</key>
									<string>0</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{322.50006103515625, 360.50299072265625}, {12, 12}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>2121</integer>
							<key>ImageID</key>
							<integer>29</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>2119</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{54.80708944293454, 342.44514751434326}, {270.06477022474212, 21}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Roboto-Regular</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>2122</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red119\green119\blue119;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs28 \cf2 Items not fitting into another category}</string>
						<key>VerticalPad</key>
						<integer>2</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{54.807089442934682, 320.94514751434326}, {246.48273008995631, 26}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>HelveticaNeue</string>
						<key>Size</key>
						<real>13</real>
					</dict>
					<key>ID</key>
					<integer>2123</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>2</integer>
						<key>RTFD</key>
						<data>
						BAtzdHJlYW10eXBlZIHoA4QBQISE
						hBJOU0F0dHJpYnV0ZWRTdHJpbmcA
						hIQITlNPYmplY3QAhZKEhIQITlNT
						dHJpbmcBlIQBKw9DYXRlZ29yeSAt
						IE1pc2OGhAJpSQELkoSEhAxOU0Rp
						Y3Rpb25hcnkAlIQBaQKShJaWEE5T
						UGFyYWdyYXBoU3R5bGWGkoSEhBBO
						U1BhcmFncmFwaFN0eWxlAJSEBEND
						QFMAAISEhAdOU0FycmF5AJSZDJKE
						hIQJTlNUZXh0VGFiAJSEAkNmAByG
						koSfngA4hpKEn54AVIaShJ+eAHCG
						koSfngCBjACGkoSfngCBqACGkoSf
						ngCBxACGkoSfngCB4ACGkoSfngCB
						/ACGkoSfngCBGAGGkoSfngCBNAGG
						koSfngCBUAGGhoEACIQEWzFmXYPN
						zEw9hpKElpYGTlNGb250hpKEhIQG
						TlNGb250HpSZKIQFWzQwY10GAAAA
						HgAAAP/+UgBvAGIAbwB0AG8ALQBS
						AGUAZwB1AGwAYQByAAAAhAFmEoQB
						YwCjAaMAowCGhpcCBJKEmJkDkoSW
						lgdOU0NvbG9yhpKEhIQHTlNDb2xv
						cgCUowOEAmZmAIOamZk+hpKZkoSb
						mwAAhJ2ZDJKekqCSoZKikqOSpJKl
						kqaSp5KokqmSqoaBAAifg83MTD2G
						kquSrIaG
						</data>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs36 \cf0 Category - \cf2 Misc}</string>
						<key>VerticalPad</key>
						<integer>2</integer>
						<key>alpha</key>
						<array>
							<array>
								<integer>11</integer>
								<integer>4</integer>
								<real>0.30000001192092896</real>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>2118</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>AllowToConnect</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>2114</integer>
					<key>Points</key>
					<array>
						<string>{334.00007629394531, 312.99984741210938}</string>
						<string>{51.893997192382812, 312.99984741210938}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.6</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{322.50006103515625, 301.24984741210938}, {12, 12}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>2115</integer>
					<key>ImageID</key>
					<integer>29</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>2113</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{55.814871425356415, 282.56882286071777}, {270.06477022474212, 21}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Roboto-Regular</string>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>2116</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>2</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red119\green119\blue119;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs28 \cf2 I'm looking for something that is mine.}</string>
				<key>VerticalPad</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{55.814871425356557, 261.06882286071777}, {246.48273008995631, 26}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>HelveticaNeue</string>
				<key>Size</key>
				<real>13</real>
			</dict>
			<key>ID</key>
			<integer>2117</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>2</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwtLaW5kIC0gTG9zdIaEAmlJAQeShISEDE5T
				RGljdGlvbmFyeQCUhAFpApKElpYQTlNQYXJhZ3JhcGhT
				dHlsZYaShISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NA
				UwAAhISEB05TQXJyYXkAlJkMkoSEhAlOU1RleHRUYWIA
				lIQCQ2YAHIaShJ+eADiGkoSfngBUhpKEn54AcIaShJ+e
				AIGMAIaShJ+eAIGoAIaShJ+eAIHEAIaShJ+eAIHgAIaS
				hJ+eAIH8AIaShJ+eAIEYAYaShJ+eAIE0AYaShJ+eAIFQ
				AYaGgQAIhARbMWZdg83MTD2GkoSWlgZOU0ZvbnSGkoSE
				hAZOU0ZvbnQelJkohAVbNDBjXQYAAAAeAAAA//5SAG8A
				YgBvAHQAbwAtAFIAZQBnAHUAbABhAHIAAACEAWYShAFj
				AKMBowCjAIaGlwIEkoSYmQOShJaWB05TQ29sb3KGkoSE
				hAdOU0NvbG9yAJSjA4QCZmYAg5qZmT6GkpmShJubAACE
				nZkMkp6SoJKhkqKSo5KkkqWSppKnkqiSqZKqhoEACJ+D
				zcxMPYaSq5KshoY=
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs36 \cf0 Kind - \cf2 Lost}</string>
				<key>VerticalPad</key>
				<integer>2</integer>
				<key>alpha</key>
				<array>
					<array>
						<integer>7</integer>
						<integer>4</integer>
						<real>0.30000001192092896</real>
					</array>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{46.8455810546875, 146.60795593261719}, {142, 26}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>2105</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Light;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs42 \cf0 Submit an Item}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{304, 143.60795593261719}, {32, 32}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>914</integer>
			<key>ImageID</key>
			<integer>24</integer>
			<key>Opacity</key>
			<real>0.60000002384185791</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>image fill</key>
				<dict>
					<key>Opacity</key>
					<real>0.60000002384185791</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{266, 143.60795593261719}, {32, 32}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>912</integer>
			<key>ImageID</key>
			<integer>25</integer>
			<key>Opacity</key>
			<real>0.60000002384185791</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>image fill</key>
				<dict>
					<key>Opacity</key>
					<real>0.60000002384185791</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowToConnect</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>665</integer>
			<key>Points</key>
			<array>
				<string>{46.89398193359375, 403.82147216796875}</string>
				<string>{335, 403.82147216796875}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.23</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{51.89398193359375, 380.82147216796875}, {71, 21}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Roboto-Bold</string>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>664</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>2</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red153\green153\blue153;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs28 \cf2 OPTIONAL}</string>
				<key>VerticalPad</key>
				<integer>2</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{51.148646843142615, 189.28543090820312}, {105.85135650634766, 21}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Roboto-Bold</string>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>660</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>2</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red153\green153\blue153;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs28 \cf2 REQUIRED}</string>
				<key>VerticalPad</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowToConnect</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>659</integer>
			<key>Points</key>
			<array>
				<string>{46.893981933593793, 213.28543090820312}</string>
				<string>{335, 213.28543090820312}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.23</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{40.000011336209809, 135.93049932523621}, {304.87838745117188, 53.354925775978394}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>418</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>10</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{39.996566095177826, 135.93049932523601}, {304.88528577839435, 485.07726045883936}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>1963</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.909804</string>
								<key>g</key>
								<string>0.909804</string>
								<key>r</key>
								<string>0.909804</string>
							</dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>90</real>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0.968627</string>
								<key>g</key>
								<string>0.968627</string>
								<key>r</key>
								<string>0.968627</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{308.62813309496687, 113.06410256410265}, {32.394061613954378, 21.913630229419706}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Roboto-Light</string>
								<key>Size</key>
								<real>16</real>
							</dict>
							<key>ID</key>
							<integer>1965</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Align</key>
								<integer>2</integer>
								<key>Pad</key>
								<integer>2</integer>
								<key>RTFD</key>
								<data>
								BAtzdHJlYW10
								eXBlZIHoA4QB
								QISEhBJOU0F0
								dHJpYnV0ZWRT
								dHJpbmcAhIQI
								TlNPYmplY3QA
								hZKEhIQITlNT
								dHJpbmcBlIQB
								KwQyOjMwhoQC
								aUkBBJKEhIQM
								TlNEaWN0aW9u
								YXJ5AJSEAWkD
								koSWlgdOU0Nv
								bG9yhpKEhIQH
								TlNDb2xvcgCU
								hAFjAoQEZmZm
								ZoPOzEw+g7a1
								NT+D5+VlPwGG
								koSWlhBOU1Bh
								cmFncmFwaFN0
								eWxlhpKEhIQQ
								TlNQYXJhZ3Jh
								cGhTdHlsZQCU
								hARDQ0BTAQCE
								hIQHTlNBcnJh
								eQCUmQyShISE
								CU5TVGV4dFRh
								YgCUhAJDZgAc
								hpKEoqEAOIaS
								hKKhAFSGkoSi
								oQBwhpKEoqEA
								gYwAhpKEoqEA
								gagAhpKEoqEA
								gcQAhpKEoqEA
								geAAhpKEoqEA
								gfwAhpKEoqEA
								gRgBhpKEoqEA
								gTQBhpKEoqEA
								gVABhoaBAAiE
								BFsxZl2DzcxM
								PYaShJaWBk5T
								Rm9udIaShISE
								Bk5TRm9udB6U
								mSSEBVszNmNd
								BgAAABoAAAD/
								/lIAbwBiAG8A
								dABvAC0ATABp
								AGcAaAB0AAAA
								hAFmEJsAmwGb
								AJsAhoaG
								</data>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Light;}
{\colortbl;\red255\green255\blue255;\red45\green166\blue222;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qr

\f0\fs32 \cf2 2:30}</string>
								<key>VerticalPad</key>
								<integer>2</integer>
							</dict>
							<key>Wrap</key>
							<string>NO</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{39.911769875070888, 112.11133603238876}, {304.9700819985012, 23.819163292847502}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1966</integer>
							<key>ImageID</key>
							<integer>10</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{39.996566095177826, 112.11133603238872}, {304.88528577839435, 508.77732793522256}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1967</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{9.9844207763671875, 13.5}, {364.90957641601562, 706}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1968</integer>
							<key>ImageID</key>
							<integer>11</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>1964</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>1962</integer>
			<key>IsLocked</key>
			<string>YES</string>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>30</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image29.png</string>
		<string>image28.pdf</string>
		<string>image25.pdf</string>
		<string>image24.pdf</string>
		<string>image11.pdf</string>
		<string>image10.png</string>
		<string>image4.png</string>
	</array>
	<key>KeepToScale</key>
	<true/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-04-09 07:12:44 +0000</string>
	<key>Modifier</key>
	<string>Zach Waldowski</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<true/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{60, 146}, {993, 874}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-141, -1}, {858, 735}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>2</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
