<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>FontInfo</key>
		<dict>
			<key>Font</key>
			<string>Roboto-Light</string>
			<key>Size</key>
			<real>31</real>
		</dict>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2013-02-01 17:56:15 +0000</string>
	<key>Creator</key>
	<string>Zachary Waldowski</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{304, 143.60795593261719}, {32, 32}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>914</integer>
			<key>ImageID</key>
			<integer>31</integer>
			<key>Opacity</key>
			<real>0.60000002384185791</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>image fill</key>
				<dict>
					<key>Opacity</key>
					<real>0.60000002384185791</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{266, 143.60795593261719}, {32, 32}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>912</integer>
			<key>ImageID</key>
			<integer>25</integer>
			<key>Opacity</key>
			<real>0.60000002384185791</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>image fill</key>
				<dict>
					<key>Opacity</key>
					<real>0.60000002384185791</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{57.162963867187187, 145.10630798339841}, {103, 26}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>2105</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Light;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs42 \cf0 Apply Filter}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{40.541076660156264, 135.38571166992188}, {37.505408866450438, 48.444488525390568}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>2103</integer>
					<key>ImageID</key>
					<integer>30</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{78.046485526606602, 135.38571166992188}, {267.30709838867188, 48.444488525390568}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>2104</integer>
					<key>ImageID</key>
					<integer>29</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>2102</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>AllowConnections</key>
							<string>NO</string>
							<key>AllowToConnect</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>2166</integer>
							<key>Points</key>
							<array>
								<string>{334.50033569335938, 338.99215793609619}</string>
								<string>{52.394317626953139, 338.99215793609619}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.3</string>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>Legacy</key>
									<true/>
									<key>TailArrow</key>
									<string>0</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{323.50033569335938, 326.99215793609619}, {12, 12}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>2167</integer>
							<key>ImageID</key>
							<integer>27</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>2165</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{56.315207118715932, 302.06098079681396}, {246.48273008995631, 26}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>HelveticaNeue</string>
						<key>Size</key>
						<real>13</real>
					</dict>
					<key>ID</key>
					<integer>2168</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>2</integer>
						<key>RTFD</key>
						<data>
						BAtzdHJlYW10eXBlZIHoA4QBQISE
						hBJOU0F0dHJpYnV0ZWRTdHJpbmcA
						hIQITlNPYmplY3QAhZKEhIQITlNT
						dHJpbmcBlIQBKwROb25lhoQCaUkB
						BJKEhIQMTlNEaWN0aW9uYXJ5AJSE
						AWkDkoSWlgdOU0NvbG9yhpKEhIQH
						TlNDb2xvcgCUhAFjA4QCZmYAg5qZ
						mT6GkoSWlhBOU1BhcmFncmFwaFN0
						eWxlhpKEhIQQTlNQYXJhZ3JhcGhT
						dHlsZQCUhARDQ0BTAACEhIQHTlNB
						cnJheQCUmQyShISECU5TVGV4dFRh
						YgCUhAJDZgAchpKEoqEAOIaShKKh
						AFSGkoSioQBwhpKEoqEAgYwAhpKE
						oqEAgagAhpKEoqEAgcQAhpKEoqEA
						geAAhpKEoqEAgfwAhpKEoqEAgRgB
						hpKEoqEAgTQBhpKEoqEAgVABhoaB
						AAiEBFsxZl2DzcxMPYaShJaWBk5T
						Rm9udIaShISEBk5TRm9udB6UmSiE
						BVs0MGNdBgAAAB4AAAD//lIAbwBi
						AG8AdABvAC0AUgBlAGcAdQBsAGEA
						cgAAAIQBZhKbAJsBmwCbAIaGhg==
						</data>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs36 \cf2 None}</string>
						<key>VerticalPad</key>
						<integer>2</integer>
						<key>alpha</key>
						<array>
							<array>
								<integer>0</integer>
								<integer>4</integer>
								<real>0.30000001192092896</real>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>2164</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>AllowConnections</key>
							<string>NO</string>
							<key>AllowToConnect</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>2181</integer>
							<key>Points</key>
							<array>
								<string>{334, 414.94517230987549}</string>
								<string>{51.893981933593764, 414.94517230987549}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.3</string>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>Legacy</key>
									<true/>
									<key>TailArrow</key>
									<string>0</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{323, 402.94517230987549}, {12, 12}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>2182</integer>
							<key>ImageID</key>
							<integer>27</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>2180</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{55.814871425356557, 381}, {246.48273008995631, 26}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>HelveticaNeue</string>
						<key>Size</key>
						<real>13</real>
					</dict>
					<key>ID</key>
					<integer>2183</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>2</integer>
						<key>RTFD</key>
						<data>
						BAtzdHJlYW10eXBlZIHoA4QBQISE
						hBJOU0F0dHJpYnV0ZWRTdHJpbmcA
						hIQITlNPYmplY3QAhZKEhIQITlNT
						dHJpbmcBlIQBKw9TaW5jZSBZZXN0
						ZXJkYXmGhAJpSQEFkoSEhAxOU0Rp
						Y3Rpb25hcnkAlIQBaQOShJaWB05T
						Q29sb3KGkoSEhAdOU0NvbG9yAJSE
						AWMDhAJmZgCDmpmZPoaShJaWEE5T
						UGFyYWdyYXBoU3R5bGWGkoSEhBBO
						U1BhcmFncmFwaFN0eWxlAJSEBEND
						QFMAAISEhAdOU0FycmF5AJSZDJKE
						hIQJTlNUZXh0VGFiAJSEAkNmAByG
						koSioQA4hpKEoqEAVIaShKKhAHCG
						koSioQCBjACGkoSioQCBqACGkoSi
						oQCBxACGkoSioQCB4ACGkoSioQCB
						/ACGkoSioQCBGAGGkoSioQCBNAGG
						koSioQCBUAGGhoEACIQEWzFmXYPN
						zEw9hpKElpYGTlNGb250hpKEhIQG
						TlNGb250HpSZKIQFWzQwY10GAAAA
						HgAAAP/+UgBvAGIAbwB0AG8ALQBS
						AGUAZwB1AGwAYQByAAAAhAFmEpsA
						mwGbAJsAhoaXAgqShJiZApKckoSe
						ngAAhKCZDJKhkqOSpJKlkqaSp5Ko
						kqmSqpKrkqySrYaBAAiig83MTD2G
						kq6Sr4aG
						</data>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs36 \cf2 Since\cf0  Yesterday}</string>
						<key>VerticalPad</key>
						<integer>2</integer>
						<key>alpha</key>
						<array>
							<array>
								<integer>0</integer>
								<integer>5</integer>
								<real>0.30000001192092896</real>
							</array>
						</array>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>2179</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>AllowConnections</key>
							<string>NO</string>
							<key>AllowToConnect</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>2176</integer>
							<key>Points</key>
							<array>
								<string>{335, 255.89171743392944}</string>
								<string>{52.893981933593764, 255.89171743392944}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.3</string>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>Legacy</key>
									<true/>
									<key>TailArrow</key>
									<string>0</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{324, 243.89171743392944}, {12, 12}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>2177</integer>
							<key>ImageID</key>
							<integer>27</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>2175</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{56.814871425356557, 221.94654512405396}, {246.48273008995631, 26}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>HelveticaNeue</string>
						<key>Size</key>
						<real>13</real>
					</dict>
					<key>ID</key>
					<integer>2178</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs36 \cf0 Open}</string>
						<key>VerticalPad</key>
						<integer>2</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>2174</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{51.148986351199198, 346.49999141693115}, {105.85135650634766, 21}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Roboto-Bold</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>2154</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red153\green153\blue153;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs28 \cf2 DATE}</string>
						<key>VerticalPad</key>
						<integer>2</integer>
					</dict>
				</dict>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>AllowToConnect</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>2155</integer>
					<key>Points</key>
					<array>
						<string>{46.894321441650391, 370.49999141693115}</string>
						<string>{335.00033950805664, 370.49999141693115}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.23</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>2153</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{51.148986351199198, 265.5531530380249}, {105.85135650634766, 21}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Roboto-Bold</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>2151</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red153\green153\blue153;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs28 \cf2 CATEGORY}</string>
						<key>VerticalPad</key>
						<integer>2</integer>
					</dict>
				</dict>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>AllowToConnect</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>2152</integer>
					<key>Points</key>
					<array>
						<string>{46.894321441650391, 289.5531530380249}</string>
						<string>{335.00033950805664, 289.5531530380249}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.23</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>2150</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{51.148986351199198, 189.28511047363281}, {105.85135650634766, 21}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Roboto-Bold</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>2142</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>2</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red153\green153\blue153;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs28 \cf2 STATUS}</string>
						<key>VerticalPad</key>
						<integer>2</integer>
					</dict>
				</dict>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>AllowToConnect</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>2143</integer>
					<key>Points</key>
					<array>
						<string>{46.894321441650391, 213.28511047363281}</string>
						<string>{335.00033950805664, 213.28511047363281}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.23</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>2141</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{39.996566095177826, 135.93049932523601}, {304.88528577839435, 485.07726045883936}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>1963</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.909804</string>
								<key>g</key>
								<string>0.909804</string>
								<key>r</key>
								<string>0.909804</string>
							</dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>90</real>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0.968627</string>
								<key>g</key>
								<string>0.968627</string>
								<key>r</key>
								<string>0.968627</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{308.62813309496687, 113.06410256410265}, {32.394061613954378, 21.913630229419706}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Roboto-Light</string>
								<key>Size</key>
								<real>16</real>
							</dict>
							<key>ID</key>
							<integer>1965</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Align</key>
								<integer>2</integer>
								<key>Pad</key>
								<integer>2</integer>
								<key>RTFD</key>
								<data>
								BAtzdHJlYW10
								eXBlZIHoA4QB
								QISEhBJOU0F0
								dHJpYnV0ZWRT
								dHJpbmcAhIQI
								TlNPYmplY3QA
								hZKEhIQITlNT
								dHJpbmcBlIQB
								KwQyOjMwhoQC
								aUkBBJKEhIQM
								TlNEaWN0aW9u
								YXJ5AJSEAWkD
								koSWlgdOU0Nv
								bG9yhpKEhIQH
								TlNDb2xvcgCU
								hAFjAoQEZmZm
								ZoPOzEw+g7a1
								NT+D5+VlPwGG
								koSWlhBOU1Bh
								cmFncmFwaFN0
								eWxlhpKEhIQQ
								TlNQYXJhZ3Jh
								cGhTdHlsZQCU
								hARDQ0BTAQCE
								hIQHTlNBcnJh
								eQCUmQyShISE
								CU5TVGV4dFRh
								YgCUhAJDZgAc
								hpKEoqEAOIaS
								hKKhAFSGkoSi
								oQBwhpKEoqEA
								gYwAhpKEoqEA
								gagAhpKEoqEA
								gcQAhpKEoqEA
								geAAhpKEoqEA
								gfwAhpKEoqEA
								gRgBhpKEoqEA
								gTQBhpKEoqEA
								gVABhoaBAAiE
								BFsxZl2DzcxM
								PYaShJaWBk5T
								Rm9udIaShISE
								Bk5TRm9udB6U
								mSSEBVszNmNd
								BgAAABoAAAD/
								/lIAbwBiAG8A
								dABvAC0ATABp
								AGcAaAB0AAAA
								hAFmEJsAmwGb
								AJsAhoaG
								</data>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Light;}
{\colortbl;\red255\green255\blue255;\red45\green166\blue222;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qr

\f0\fs32 \cf2 2:30}</string>
								<key>VerticalPad</key>
								<integer>2</integer>
							</dict>
							<key>Wrap</key>
							<string>NO</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{39.911769875070888, 112.11133603238876}, {304.9700819985012, 23.819163292847502}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1966</integer>
							<key>ImageID</key>
							<integer>10</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{39.996566095177826, 112.11133603238872}, {304.88528577839435, 508.77732793522256}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1967</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{9.9844207763671875, 13.5}, {364.90957641601562, 706}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1968</integer>
							<key>ImageID</key>
							<integer>11</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>1964</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>1962</integer>
			<key>IsLocked</key>
			<string>YES</string>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>32</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image31.pdf</string>
		<string>image30.png</string>
		<string>image29.png</string>
		<string>image27.png</string>
		<string>image25.pdf</string>
		<string>image11.pdf</string>
		<string>image10.png</string>
	</array>
	<key>KeepToScale</key>
	<true/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-04-09 07:15:43 +0000</string>
	<key>Modifier</key>
	<string>Zach Waldowski</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<true/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{127, 86}, {993, 874}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-141, -1}, {858, 735}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>2</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
