<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>FontInfo</key>
		<dict>
			<key>Font</key>
			<string>Roboto-Light</string>
			<key>Size</key>
			<real>31</real>
		</dict>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2013-02-01 17:56:15 +0000</string>
	<key>Creator</key>
	<string>Zachary Waldowski</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>AllowConnections</key>
									<string>NO</string>
									<key>AllowToConnect</key>
									<false/>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>2240</integer>
									<key>Points</key>
									<array>
										<string>{334.94789576920721, 251.81878089904762}</string>
										<string>{334.94789576920721, 247.81878089904762}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0.8</string>
												<key>g</key>
												<string>0.6</string>
												<key>r</key>
												<string>0</string>
											</dict>
											<key>HeadArrow</key>
											<string>0</string>
											<key>Legacy</key>
											<true/>
											<key>TailArrow</key>
											<string>0</string>
											<key>Width</key>
											<real>2</real>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>AllowConnections</key>
									<string>NO</string>
									<key>AllowToConnect</key>
									<false/>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>2241</integer>
									<key>Points</key>
									<array>
										<string>{51.893981933593722, 251.81878089904762}</string>
										<string>{51.893981933593722, 247.81878089904762}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0.8</string>
												<key>g</key>
												<string>0.6</string>
												<key>r</key>
												<string>0</string>
											</dict>
											<key>HeadArrow</key>
											<string>0</string>
											<key>Legacy</key>
											<true/>
											<key>TailArrow</key>
											<string>0</string>
											<key>Width</key>
											<real>2</real>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>AllowConnections</key>
									<string>NO</string>
									<key>AllowToConnect</key>
									<false/>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>Head</key>
									<dict>
										<key>ID</key>
										<integer>2240</integer>
									</dict>
									<key>ID</key>
									<integer>2242</integer>
									<key>Points</key>
									<array>
										<string>{51.893981933593722, 251.81878089904762}</string>
										<string>{109.68599042333324, 251.51565941295598}</string>
										<string>{334.94789576920721, 251.81878089904762}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0.8</string>
												<key>g</key>
												<string>0.6</string>
												<key>r</key>
												<string>0</string>
											</dict>
											<key>HeadArrow</key>
											<string>0</string>
											<key>Legacy</key>
											<true/>
											<key>TailArrow</key>
											<string>0</string>
											<key>Width</key>
											<real>2</real>
										</dict>
									</dict>
									<key>Tail</key>
									<dict>
										<key>ID</key>
										<integer>2241</integer>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>2239</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{55.893981933593636, 217.49831771850586}, {157.25210790628844, 29.907667215172427}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>a</key>
									<string>0.3</string>
									<key>b</key>
									<string>0.150539</string>
									<key>g</key>
									<string>0.150571</string>
									<key>r</key>
									<string>0.150547</string>
								</dict>
								<key>Font</key>
								<string>Roboto-Regular</string>
								<key>Size</key>
								<real>14</real>
							</dict>
							<key>ID</key>
							<integer>2243</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Align</key>
								<integer>0</integer>
								<key>Pad</key>
								<integer>2</integer>
								<key>RTFD</key>
								<data>
								BAtzdHJlYW10
								eXBlZIHoA4QB
								QISEhBJOU0F0
								dHJpYnV0ZWRT
								dHJpbmcAhIQI
								TlNPYmplY3QA
								hZKEhIQITlNT
								dHJpbmcBlIQB
								KwROb25lhoQC
								aUkBBJKEhIQM
								TlNEaWN0aW9u
								YXJ5AJSEAWkD
								koSWlgdOU0Nv
								bG9yhpKEhIQH
								TlNDb2xvcgCU
								hAFjAYQEZmZm
								ZoOZmBg+g5mY
								GD6DmZgYPoOa
								mZk+hpKElpYQ
								TlNQYXJhZ3Jh
								cGhTdHlsZYaS
								hISEEE5TUGFy
								YWdyYXBoU3R5
								bGUAlIQEQ0NA
								UwAAhISEB05T
								QXJyYXkAlJkM
								koSEhAlOU1Rl
								eHRUYWIAlIQC
								Q2YAHIaShKKh
								ADiGkoSioQBU
								hpKEoqEAcIaS
								hKKhAIGMAIaS
								hKKhAIGoAIaS
								hKKhAIHEAIaS
								hKKhAIHgAIaS
								hKKhAIH8AIaS
								hKKhAIEYAYaS
								hKKhAIE0AYaS
								hKKhAIFQAYaG
								gQAIhARbMWZd
								g83MTD2GkoSW
								lgZOU0ZvbnSG
								koSEhAZOU0Zv
								bnQelJkohAVb
								NDBjXQYAAAAe
								AAAA//5SAG8A
								YgBvAHQAbwAt
								AFIAZQBnAHUA
								bABhAHIAAACE
								AWYSmwCbAZsA
								mwCGhoY=
								</data>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red38\green38\blue38;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs36 \cf2 None}</string>
								<key>VerticalPad</key>
								<integer>2</integer>
								<key>alpha</key>
								<array>
									<array>
										<integer>0</integer>
										<integer>4</integer>
										<real>0.30000001192092896</real>
									</array>
								</array>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>2238</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{51.148986351199198, 189.28511047363281}, {105.85135650634766, 21}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>Vertical</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Roboto-Bold</string>
								<key>Size</key>
								<real>14</real>
							</dict>
							<key>ID</key>
							<integer>2245</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Align</key>
								<integer>0</integer>
								<key>Pad</key>
								<integer>2</integer>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red153\green153\blue153;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs28 \cf2 NAME}</string>
								<key>VerticalPad</key>
								<integer>2</integer>
							</dict>
						</dict>
						<dict>
							<key>AllowConnections</key>
							<string>NO</string>
							<key>AllowToConnect</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>2246</integer>
							<key>Points</key>
							<array>
								<string>{46.894321441650391, 213.28511047363281}</string>
								<string>{335.00033950805664, 213.28511047363281}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.23</string>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>Legacy</key>
									<true/>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>2244</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>2237</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>AllowConnections</key>
									<string>NO</string>
									<key>AllowToConnect</key>
									<false/>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>2219</integer>
									<key>Points</key>
									<array>
										<string>{333.99966430664062, 335.17202377319336}</string>
										<string>{51.893646240234389, 335.17202377319336}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0.8</string>
												<key>g</key>
												<string>0.6</string>
												<key>r</key>
												<string>0</string>
											</dict>
											<key>HeadArrow</key>
											<string>0</string>
											<key>Legacy</key>
											<true/>
											<key>TailArrow</key>
											<string>0</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{322.99966430664062, 323.17202377319336}, {12, 12}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>2220</integer>
									<key>ImageID</key>
									<integer>29</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>2218</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{57.814535731997182, 297.17201232910156}, {246.48273008995631, 26}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>Vertical</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>HelveticaNeue</string>
								<key>Size</key>
								<real>13</real>
							</dict>
							<key>ID</key>
							<integer>2221</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Align</key>
								<integer>0</integer>
								<key>Pad</key>
								<integer>2</integer>
								<key>RTFD</key>
								<data>
								BAtzdHJlYW10
								eXBlZIHoA4QB
								QISEhBJOU0F0
								dHJpYnV0ZWRT
								dHJpbmcAhIQI
								TlNPYmplY3QA
								hZKEhIQITlNT
								dHJpbmcBlIQB
								KwROb25lhoQC
								aUkBBJKEhIQM
								TlNEaWN0aW9u
								YXJ5AJSEAWkD
								koSWlgdOU0Nv
								bG9yhpKEhIQH
								TlNDb2xvcgCU
								hAFjA4QCZmYA
								g5qZmT6GkoSW
								lhBOU1BhcmFn
								cmFwaFN0eWxl
								hpKEhIQQTlNQ
								YXJhZ3JhcGhT
								dHlsZQCUhARD
								Q0BTAACEhIQH
								TlNBcnJheQCU
								mQyShISECU5T
								VGV4dFRhYgCU
								hAJDZgAchpKE
								oqEAOIaShKKh
								AFSGkoSioQBw
								hpKEoqEAgYwA
								hpKEoqEAgagA
								hpKEoqEAgcQA
								hpKEoqEAgeAA
								hpKEoqEAgfwA
								hpKEoqEAgRgB
								hpKEoqEAgTQB
								hpKEoqEAgVAB
								hoaBAAiEBFsx
								Zl2DzcxMPYaS
								hJaWBk5TRm9u
								dIaShISEBk5T
								Rm9udB6UmSiE
								BVs0MGNdBgAA
								AB4AAAD//lIA
								bwBiAG8AdABv
								AC0AUgBlAGcA
								dQBsAGEAcgAA
								AIQBZhKbAJsB
								mwCbAIaGhg==
								</data>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs36 \cf2 None}</string>
								<key>VerticalPad</key>
								<integer>2</integer>
								<key>alpha</key>
								<array>
									<array>
										<integer>0</integer>
										<integer>4</integer>
										<real>0.30000001192092896</real>
									</array>
								</array>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>2217</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{52.148650657839823, 261.45711898803711}, {105.85135650634766, 21}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>Vertical</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Roboto-Bold</string>
								<key>Size</key>
								<real>14</real>
							</dict>
							<key>ID</key>
							<integer>2223</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Align</key>
								<integer>0</integer>
								<key>Pad</key>
								<integer>2</integer>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red153\green153\blue153;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs28 \cf2 KIND}</string>
								<key>VerticalPad</key>
								<integer>2</integer>
							</dict>
						</dict>
						<dict>
							<key>AllowConnections</key>
							<string>NO</string>
							<key>AllowToConnect</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>2224</integer>
							<key>Points</key>
							<array>
								<string>{47.893985748291016, 285.45711898803711}</string>
								<string>{336.00000381469727, 285.45711898803711}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.23</string>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>Legacy</key>
									<true/>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>2222</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>2216</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>AllowConnections</key>
									<string>NO</string>
									<key>AllowToConnect</key>
									<false/>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>2205</integer>
									<key>Points</key>
									<array>
										<string>{334, 417.67706108093262}</string>
										<string>{51.893981933593764, 417.67706108093262}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0.8</string>
												<key>g</key>
												<string>0.6</string>
												<key>r</key>
												<string>0</string>
											</dict>
											<key>HeadArrow</key>
											<string>0</string>
											<key>Legacy</key>
											<true/>
											<key>TailArrow</key>
											<string>0</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{323, 405.67706108093262}, {12, 12}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>2206</integer>
									<key>ImageID</key>
									<integer>29</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>2204</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{56.532925834111552, 379.67706108093262}, {246.48273008995631, 26}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>Vertical</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>HelveticaNeue</string>
								<key>Size</key>
								<real>13</real>
							</dict>
							<key>ID</key>
							<integer>2207</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Align</key>
								<integer>0</integer>
								<key>Pad</key>
								<integer>2</integer>
								<key>RTFD</key>
								<data>
								BAtzdHJlYW10
								eXBlZIHoA4QB
								QISEhBJOU0F0
								dHJpYnV0ZWRT
								dHJpbmcAhIQI
								TlNPYmplY3QA
								hZKEhIQITlNT
								dHJpbmcBlIQB
								KwROb25lhoQC
								aUkBBJKEhIQM
								TlNEaWN0aW9u
								YXJ5AJSEAWkD
								koSWlgdOU0Nv
								bG9yhpKEhIQH
								TlNDb2xvcgCU
								hAFjA4QCZmYA
								g5qZmT6GkoSW
								lhBOU1BhcmFn
								cmFwaFN0eWxl
								hpKEhIQQTlNQ
								YXJhZ3JhcGhT
								dHlsZQCUhARD
								Q0BTAACEhIQH
								TlNBcnJheQCU
								mQyShISECU5T
								VGV4dFRhYgCU
								hAJDZgAchpKE
								oqEAOIaShKKh
								AFSGkoSioQBw
								hpKEoqEAgYwA
								hpKEoqEAgagA
								hpKEoqEAgcQA
								hpKEoqEAgeAA
								hpKEoqEAgfwA
								hpKEoqEAgRgB
								hpKEoqEAgTQB
								hpKEoqEAgVAB
								hoaBAAiEBFsx
								Zl2DzcxMPYaS
								hJaWBk5TRm9u
								dIaShISEBk5T
								Rm9udB6UmSiE
								BVs0MGNdBgAA
								AB4AAAD//lIA
								bwBiAG8AdABv
								AC0AUgBlAGcA
								dQBsAGEAcgAA
								AIQBZhKbAJsB
								mwCbAIaGhg==
								</data>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs36 \cf2 None}</string>
								<key>VerticalPad</key>
								<integer>2</integer>
								<key>alpha</key>
								<array>
									<array>
										<integer>0</integer>
										<integer>4</integer>
										<real>0.30000001192092896</real>
									</array>
								</array>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>2203</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{51.148986351199198, 343.22353076934814}, {105.85135650634766, 21}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>Vertical</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Roboto-Bold</string>
								<key>Size</key>
								<real>14</real>
							</dict>
							<key>ID</key>
							<integer>2209</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Align</key>
								<integer>0</integer>
								<key>Pad</key>
								<integer>2</integer>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red153\green153\blue153;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs28 \cf2 CATEGORY}</string>
								<key>VerticalPad</key>
								<integer>2</integer>
							</dict>
						</dict>
						<dict>
							<key>AllowConnections</key>
							<string>NO</string>
							<key>AllowToConnect</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>2210</integer>
							<key>Points</key>
							<array>
								<string>{46.894321441650391, 367.22353076934814}</string>
								<string>{335.00033950805664, 367.22353076934814}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.23</string>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>Legacy</key>
									<true/>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>2208</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>2202</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>AllowConnections</key>
									<string>NO</string>
									<key>AllowToConnect</key>
									<false/>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>2188</integer>
									<key>Points</key>
									<array>
										<string>{335, 492.71558284759521}</string>
										<string>{52.893981933593764, 492.71558284759521}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0.8</string>
												<key>g</key>
												<string>0.6</string>
												<key>r</key>
												<string>0</string>
											</dict>
											<key>HeadArrow</key>
											<string>0</string>
											<key>Legacy</key>
											<true/>
											<key>TailArrow</key>
											<string>0</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{324, 480.71558284759521}, {12, 12}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>2189</integer>
									<key>ImageID</key>
									<integer>29</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>2187</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{54.893980617251088, 457.83551788330078}, {246.48273008995631, 26}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>Vertical</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>HelveticaNeue</string>
								<key>Size</key>
								<real>13</real>
							</dict>
							<key>ID</key>
							<integer>2190</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Align</key>
								<integer>0</integer>
								<key>Pad</key>
								<integer>2</integer>
								<key>RTFD</key>
								<data>
								BAtzdHJlYW10
								eXBlZIHoA4QB
								QISEhBJOU0F0
								dHJpYnV0ZWRT
								dHJpbmcAhIQI
								TlNPYmplY3QA
								hZKEhIQITlNT
								dHJpbmcBlIQB
								KwROb25lhoQC
								aUkBBJKEhIQM
								TlNEaWN0aW9u
								YXJ5AJSEAWkD
								koSWlgdOU0Nv
								bG9yhpKEhIQH
								TlNDb2xvcgCU
								hAFjA4QCZmYA
								g5qZmT6GkoSW
								lhBOU1BhcmFn
								cmFwaFN0eWxl
								hpKEhIQQTlNQ
								YXJhZ3JhcGhT
								dHlsZQCUhARD
								Q0BTAACEhIQH
								TlNBcnJheQCU
								mQyShISECU5T
								VGV4dFRhYgCU
								hAJDZgAchpKE
								oqEAOIaShKKh
								AFSGkoSioQBw
								hpKEoqEAgYwA
								hpKEoqEAgagA
								hpKEoqEAgcQA
								hpKEoqEAgeAA
								hpKEoqEAgfwA
								hpKEoqEAgRgB
								hpKEoqEAgTQB
								hpKEoqEAgVAB
								hoaBAAiEBFsx
								Zl2DzcxMPYaS
								hJaWBk5TRm9u
								dIaShISEBk5T
								Rm9udB6UmSiE
								BVs0MGNdBgAA
								AB4AAAD//lIA
								bwBiAG8AdABv
								AC0AUgBlAGcA
								dQBsAGEAcgAA
								AIQBZhKbAJsB
								mwCbAIaGhg==
								</data>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs36 \cf2 None}</string>
								<key>VerticalPad</key>
								<integer>2</integer>
								<key>alpha</key>
								<array>
									<array>
										<integer>0</integer>
										<integer>4</integer>
										<real>0.30000001192092896</real>
									</array>
								</array>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>2186</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{51.148650657839823, 425.72855949401855}, {105.85135650634766, 21}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>Vertical</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Roboto-Bold</string>
								<key>Size</key>
								<real>14</real>
							</dict>
							<key>ID</key>
							<integer>2192</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Align</key>
								<integer>0</integer>
								<key>Pad</key>
								<integer>2</integer>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Regular;}
{\colortbl;\red255\green255\blue255;\red153\green153\blue153;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs28 \cf2 REWARD}</string>
								<key>VerticalPad</key>
								<integer>2</integer>
							</dict>
						</dict>
						<dict>
							<key>AllowConnections</key>
							<string>NO</string>
							<key>AllowToConnect</key>
							<false/>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>2193</integer>
							<key>Points</key>
							<array>
								<string>{46.893985748291016, 449.72855949401855}</string>
								<string>{335.00000381469727, 449.72855949401855}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.23</string>
										<key>b</key>
										<string>0</string>
										<key>g</key>
										<string>0</string>
										<key>r</key>
										<string>0</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>Legacy</key>
									<true/>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>2191</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>2185</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{50.89398193359375, 142.42100524902344}, {80, 32}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>2105</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Light;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs52 \cf0 Search}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{304, 143.60795593261719}, {32, 32}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>914</integer>
			<key>ImageID</key>
			<integer>24</integer>
			<key>Opacity</key>
			<real>0.60000002384185791</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>image fill</key>
				<dict>
					<key>Opacity</key>
					<real>0.60000002384185791</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{266, 143.60795593261719}, {32, 32}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>912</integer>
			<key>ImageID</key>
			<integer>25</integer>
			<key>Opacity</key>
			<real>0.25733903050422668</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>image fill</key>
				<dict>
					<key>Opacity</key>
					<real>0.25733903050422668</real>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{40.000011336209809, 135.93049932523621}, {304.87838745117188, 53.354925775978394}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>418</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>10</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{39.996566095177826, 135.93049932523601}, {304.88528577839435, 485.07726045883936}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>1963</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.909804</string>
								<key>g</key>
								<string>0.909804</string>
								<key>r</key>
								<string>0.909804</string>
							</dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>90</real>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0.968627</string>
								<key>g</key>
								<string>0.968627</string>
								<key>r</key>
								<string>0.968627</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{308.62813309496687, 113.06410256410265}, {32.394061613954378, 21.913630229419706}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Roboto-Light</string>
								<key>Size</key>
								<real>16</real>
							</dict>
							<key>ID</key>
							<integer>1965</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Align</key>
								<integer>2</integer>
								<key>Pad</key>
								<integer>2</integer>
								<key>RTFD</key>
								<data>
								BAtzdHJlYW10
								eXBlZIHoA4QB
								QISEhBJOU0F0
								dHJpYnV0ZWRT
								dHJpbmcAhIQI
								TlNPYmplY3QA
								hZKEhIQITlNT
								dHJpbmcBlIQB
								KwQyOjMwhoQC
								aUkBBJKEhIQM
								TlNEaWN0aW9u
								YXJ5AJSEAWkD
								koSWlgdOU0Nv
								bG9yhpKEhIQH
								TlNDb2xvcgCU
								hAFjAoQEZmZm
								ZoPOzEw+g7a1
								NT+D5+VlPwGG
								koSWlhBOU1Bh
								cmFncmFwaFN0
								eWxlhpKEhIQQ
								TlNQYXJhZ3Jh
								cGhTdHlsZQCU
								hARDQ0BTAQCE
								hIQHTlNBcnJh
								eQCUmQyShISE
								CU5TVGV4dFRh
								YgCUhAJDZgAc
								hpKEoqEAOIaS
								hKKhAFSGkoSi
								oQBwhpKEoqEA
								gYwAhpKEoqEA
								gagAhpKEoqEA
								gcQAhpKEoqEA
								geAAhpKEoqEA
								gfwAhpKEoqEA
								gRgBhpKEoqEA
								gTQBhpKEoqEA
								gVABhoaBAAiE
								BFsxZl2DzcxM
								PYaShJaWBk5T
								Rm9udIaShISE
								Bk5TRm9udB6U
								mSSEBVszNmNd
								BgAAABoAAAD/
								/lIAbwBiAG8A
								dABvAC0ATABp
								AGcAaAB0AAAA
								hAFmEJsAmwGb
								AJsAhoaG
								</data>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf370
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Roboto-Light;}
{\colortbl;\red255\green255\blue255;\red45\green166\blue222;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qr

\f0\fs32 \cf2 2:30}</string>
								<key>VerticalPad</key>
								<integer>2</integer>
							</dict>
							<key>Wrap</key>
							<string>NO</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{39.911769875070888, 112.11133603238876}, {304.9700819985012, 23.819163292847502}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1966</integer>
							<key>ImageID</key>
							<integer>10</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{39.996566095177826, 112.11133603238872}, {304.88528577839435, 508.77732793522256}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1967</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{9.9844207763671875, 13.5}, {364.90957641601562, 706}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1968</integer>
							<key>ImageID</key>
							<integer>11</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>1964</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>1962</integer>
			<key>IsLocked</key>
			<string>YES</string>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>30</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image29.png</string>
		<string>image25.pdf</string>
		<string>image24.pdf</string>
		<string>image11.pdf</string>
		<string>image10.png</string>
		<string>image4.png</string>
	</array>
	<key>KeepToScale</key>
	<true/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-02-04 18:05:39 +0000</string>
	<key>Modifier</key>
	<string>Zachary Waldowski</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<true/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{412, -18}, {993, 874}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-141, -1}, {858, 735}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>2</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
